* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Arima", cursive;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DWarea {
  width: 25rem;
  height: 40rem;
  margin-top: 5rem;
  border-radius: 22px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.logoImg {
  width: 10.5rem;
  height: auto;
  border-radius: 50%;
}

.button {
  background-color: black;
  color: ghostwhite;
  width: 12rem;
  height: 3rem;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Arima", cursive;
}

.button:hover {
  background-color: white;
  color: black;
  outline: 1px solid black;
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
